.tags{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.tag{
    margin: 4px;
    color: #282c34;
    cursor: pointer;
}
.tag:hover{
    color: #111725;
    text-decoration: underline;
}
#all{
    border: 1px solid #61dafb;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 5px;
    width: 27px;
    transition: all;
    transition-duration: 2ms;
}
#all:hover{
    border: 1px solid #519da2;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 5px;
    width: 27px;
    transition: all;
    transition-duration: 2ms;
}