.tags{
    width: 90%;
    margin: auto;
    font-family: Caveat;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.tag{
    margin: 4px;
    color: #282c34;
    cursor: pointer;
}
.show_more{
    cursor: pointer;
}
.tag:hover{
    color: #111725;
    text-decoration: underline;
}
#all{
    cursor: pointer;
    border-radius: 5px;
    margin: 4px;
    width: 27px;
    transition: all;
    transition-duration: 2ms;
}
#all:hover{
    cursor: pointer;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 5px;
    width: 27px;
    transition: all;
    transition-duration: 2ms;
}