.head{
    cursor: pointer;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Amatic SC';
    margin: 4px;
    display: flex;
    align-items: center;
}
.title{
    text-transform: uppercase;
    margin-left: 10px;
}
.head>.logo{
    width: 50px;
}
.head>.logo>img{
    width: 100%;
}
.slogan{
    font-size: 13px;
    font-weight: lighter;
    margin-left: 10px;
}