.article_main_info{
    width: 70%;
    margin: 10px auto;
}
.back{
    display: block;
    cursor: pointer;
    color: #282c34;
    border: 1px solid #fefeff;
    border-radius: 5px;
    padding: 4px 10px;
    margin-bottom: -12px;
    font-weight: 800;
    width: 75px;
    transition: all;
    transition-duration: 2ms;
}
#bottom_back{
    margin-bottom: 4px;
}
.back:hover{
    border: 1px solid #61dafb;
}
.article_content{
    text-align: left;
    font-size: 18px;
    margin: 4px;
}
.article_content img {
    width: 30%;
    min-width: 200px;
    float: left;
    margin-right: 10px;
    border: 1px solid #818080;
    background-color: #efeff1;
}
.more_articles_title{
    border-bottom: 2px dashed #a7a8a7;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px 10px;
    font-family: "Bad Script";
    font-size: 19px;
    cursor: pointer;
}
.more_articles{
    padding: 0 10px;
    font-family: "Bad Script";
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
    color: #205b02;
}
.more_articles:hover{
    background-color: #e7ffc4;
}
.more_articles_part{
    text-align: left;
    cursor: auto;
    width: 70%;
    margin: 10px auto;
}
.article_info .article_title{
    margin-top: 5px;
    font-family: "Mulish";
    font-size: 30px;
}
.article_content>h2{
    font-family: "Mulish";
    font-size: 25px;
}
.article_content>h3{
    font-family: "Mulish";
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}
.article_content em{
    color: #5b0404;
}
.article_info{
    font-family: 'PT Sans';
}

.article_content ul { padding-left:20px; list-style:none; }
.article_content li { margin-bottom:10px; list-style:none;}
.article_content li:before {
    font-family: 'FontAwesome';
    background-image:  url('../sources/icons/check.svg');
    background-size: cover;
    margin-bottom: -5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    content: ""
}

@media(max-width: 750px){
    .article_main_info{
        margin: 10px;
        width: auto;
    }
    .more_articles_part{
        margin-top: 10px;
        width: auto;
    }
}