
.back{
    cursor: pointer;
    border: 1px solid #fefeff;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 5px;
    width: 75px;
    transition: all;
    transition-duration: 2ms;
}
.back:hover{
    border: 1px solid #61dafb;
}
.article_content{
    text-align: left;
    font-size: 16px;
    margin: 10px;
}
.article_info{

}