@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bad+Script&family=Bellota+Text&family=Caveat&family=Cormorant:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Mulish&family=PT+Sans+Narrow:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@font-face {
  font-family: 'Nexa-Bold';
  src: local('Nexa-Bold'), url('./sources/fonts/Nexa Bold/Nexa-Bold.otf') format('otf');
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: local('IBM-Plex-Sans'), url('./sources/fonts/IBM Plex Sans JP/IBMPlexSansJP-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Aukim';
  src: local('Aukim'), url('./sources/fonts/Aukim/AukimLight.otf') format('opentype');
}

body{
  margin: auto;
  color: #282c34;
}
a {
  color: #282c34;
  text-decoration: none !important;
}

.bottom{
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bottom .title{
  font-family: 'Amatic SC';
  text-transform: lowercase;
  font-weight: 800;
  font-size: 15px;
}
.bottom>.logo{
  width: 30px;
}
.bottom>.logo>img{
  width: 100%;
}